// Dual Ring
.lds-dual-ring {
  position: fixed;
  background-color: #f6f6f6;
  display: grid;
  place-items: center;
  height: 100vh;
  inset: 0;
  z-index: 1;
  opacity: .9;
  animation: lds-dual-ring 200ms 2s forwards;
  transform-origin: top;
  &::after {
    content: "";
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 10px solid #9356DC;
    border-color: #9356DC transparent #9356DC transparent;
    animation: lds-dual-ring 2s linear forwards;
  }
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg) scale(1); 
  }
  100% {
    transform: rotate(360deg) scale(0); 
  }
}

