// le pied de la page d'aceuil//
@use "../utils/mixin.scss";
@use "../utils/variable.scss";

footer {
    & .foot {
      background-color: #343434;
  
      & h2 {
        height: 15px;
        margin-left: 2rem;
        color: variable.$couleur-primaire;
      }
      & ul {
        list-style: none;
  
        & li {
          padding: 0.3rem;
  
          a {
            text-decoration: none;
            color: variable.$couleur-primaire;
  
            & i {
              margin-right: 0.5rem;
            }
          }
        }
      }
    }
  }